<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/amelia/bootstrap.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{css}}">
    <script type="text/javascript" src="{{js}}"></script>
    <title>Michify8080</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container" style="padding-top:40px"></div>
    <div class="container">
      <div class="jumbotron">
        <h1 class="hidden-xs">Michify8080</h1>
        <table class="table">
          <tbody>
            <tr>
              <td><h2 class="pull-right"><small><span class="label label-primary">track</span></small></h2></td>
              <td><h2><span class="fin" id="track">{{track}}</span></h2></td>
              <td><a role="button" class="btn btn-lg btn-block btn-success" onClick="nextTrack()" href="#">
                <span class="glyphicon glyphicon-fast-forward"></span>
              </a></td>
            </tr>
            <tr>
              <td><h2 class="pull-right"><small><span class="label label-primary">artist</span></small></h2></td>
              <td><h2><span class="fin" id="artist">{{artist}}</span></h2></td>
              <td><a role="button" class="btn btn-lg btn-block btn-danger" onClick="prevTrack()" href="#">
                <span class="glyphicon glyphicon-fast-backward"></span>
              </a></td>
            </tr>
            <tr>
              <td><h2 class="pull-right"><small><span class="label label-primary">album</span></small></h2></td>
              <td><h2><span class="fin" id="album">{{album}}</span></h2></td>
              <td><a role="button" class="btn btn-lg btn-block btn-warning" onClick="toglTrack()" href="#">
                <span class="glyphicon glyphicon-step-forward"></span>
              </a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="jumbotron visible-xs"><h1><a href="{{mobileurl}}">Go to mobile version</a></h1></div>
      <footer>
        <ol class="breadcrumb">
          <li class="active">Brought to you by Michify8080, part of <a href="http://github.com/michcioperz/icarus">Icarus Analysis System</a>.</li>
        </ol>
      </footer>
    </div>
    <script type="text/javascript">
      function michifyCheck() {
        $.get("{{jsonstatusapi}}",{}, michifyUpdate, "json");
      }
      function michifyUpdate(given) {
        $("#track").text(given.track);
        $("#album").text(given.album);
        $("#artist").text(given.artist);
      }
      function prevTrack() {
        $.get("{{linkp}}",{},michifyCheck);
      }
      function toglTrack() {
        $.get("{{linkt}}",{},michifyCheck);
      }
      function nextTrack() {
        $.get("{{linkn}}",{},michifyCheck);
      }
      setInterval("michifyCheck()", {{reftime}} * 1000);
    </script>
  </body>
</html>
