<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{css}}">
    <link rel="stylesheet" href="{{mobilecss}}">
    <script type="text/javascript" src="{{js}}"></script>
    <title>Michify8080/m</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div class="btn-group">
          <a role="button" class="btn btn-sm btn-default" href="{{linkr}}">
            Michify8080<span class="glyphicon glyphicon-refresh"></span>
          </a>
          <a role="button" class="btn btn-sm btn-danger" onClick="prevTrack()" href="#">
            <span class="glyphicon glyphicon-fast-backward"></span>
          </a>
          <a role="button" class="btn btn-sm btn-primary" onClick="toglTrack()" href="#">
            <span class="glyphicon glyphicon-step-forward"></span>
          </a>
          <a role="button" class="btn btn-sm btn-success" onClick="nextTrack()" href="#">
            <span class="glyphicon glyphicon-fast-forward"></span>
          </a>
        </div>
        <h3><small><span class="label label-default">track</span></small> <span class="fin" id="track">{{track}}</span></h3>
        <h3><small><span class="label label-default">artist</span></small> <span class="fin" id="artist">{{artist}}</span></h3>
        <h3><small><span class="label label-default">album</span></small> <span class="fin" id="album">{{album}}</span></h3>
      </div>
    </div>
    <script type="text/javascript">
      function michifyCheck() {
        $.get("{{jsonstatusapi}}",{}, michifyUpdate, "json");
      }
      function michifyUpdate(given) {
        $("#track").text(given.track);
        $("#album").text(given.album);
        $("#artist").text(given.artist);
      }
      function prevTrack() {
        $.get("{{linkp}}",{},michifyCheck);
      }
      function toglTrack() {
        $.get("{{linkt}}",{},michifyCheck);
      }
      function nextTrack() {
        $.get("{{linkn}}",{},michifyCheck);
      }
      setInterval("michifyCheck()", 20000);
    </script>
  </body>
</html>
